/HostYAMT/nbproject/private/
/InterfacesYAMT/nbproject/private/
/ModuloLVQ/nbproject/private/
/ModuloMLP/nbproject/private/
/ModuloRBF/nbproject/private/
/ModuloSVM/nbproject/private/
/RNAs/nbproject/private/
/InterfacesYAMT/build/
/InterfacesYAMT/dist/
/HostYAMT/build/
/RNAs/build/
/RNAs/dist/
/HostYAMT/dist/